 #etiquette {
    width: 39%;
    border: 1px solid #000;
    padding: 14px;
    margin: 1em 0;
}

#etiquette .nomSubstance {

    font-weight: bold;
    font-style: normal;
    font-size: 1.7em;
    color: #3c3c3c;
    margin: 1em 0;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.03em;
    word-spacing: 0.2em;
}

#etiquette #picto > img {
    margin: 0 6px 6px 12px;
}

#etiquette h5{
    font-family: pt_sans, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 1.538461538461538em;
    color: #787f86;
    margin-top: 26px;
    margin-bottom: 8px;
    display: block;
    font-size: 0.83em;
    -webkit-margin-before: 1.67em;
    -webkit-margin-after: 1.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}