<html>

<head>

</head>

<body>

  <h1>Bienvenue sur DrawAmol</h1>
  <p>Chercher une molécule selon ses différentes propriétés (nom, formule brute, n°CAS) et même à partir de sa structure moléculaire ! </p>
  <div id="list">
      <img id="all" [src]="'/assets/images/liste.png'" [routerLink]="['/all']"  width="300">
  </div>


  <div id="accueil">
  <div class="row">
    <div class="col">
        <img id="cas" [src]="'/assets/images/cas.png'" [routerLink]="['/cas']" width="300">
    </div>
    <div class="col">
        <img id="mods" [src]="'/assets/images/modele.png'" width="300">
    </div>
    <div class="col">
        <img id="name" [src]="'/assets/images/nom.png'" [routerLink]="['/nom']" width="300">
    </div>
  </div>
</div>

<div id="formule">
    <img id="forms" [src]="'/assets/images/form.png'" [routerLink]="['/formule']" width="300">
</div>


</body>

</html>