<html>

<head></head>

<body>
	<div class="fin">
		<div class="container">
			<div class="row">
				<div class="col-sm">
                    <h3>About</h3>
                    <p>Copiright 2018 By Alexandre Cartieri</p>
					
				</div>
				<div class="col-sm">
                    <h3>Recent Posts</h3>
                    <h4 class="lien"><a [routerLink]="['/element/0']">Benzene</a> <br>
					<a [routerLink]="['/element/1']">Cyclohexane</a></h4>
				
				</div>
				<div class="col-sm">
					<h3>Tag</h3>
                <h4><span class="badge badge-secondary">Chimie</span>
                <span class="badge badge-secondary">Molécule</span>
                <span class="badge badge-secondary">Liste</span></h4>
					
				</div>
			</div>
		</div>
		
        </div>
    </body>
        </html>