<html>

<head>
</head>

<body>

  <div id="wesh">

    <div id="name">{{atome.nom}}</div>  
     <div id="discover">Découvert par: {{atome.discovered_by}}</div> 
     <div id="cat">Categorie : {{atome.appearance}}</div>
    <div id="app">Apparence: {{atome.category}}</div>
     <div id="phase">Phase : {{atome.phase}}</div> 
     <div id="pf"> Point de fusion: {{atome.melt}} K </div>
      <div id="pe">Point d'ébulliton : {{atome.boil}} K </div>
    
    <div id="résumé">Summary : {{atome.summary}}</div>

    
  </div>

  </body>
