

li{
    list-style: none;
    text-decoration: none;  
}

a{
    color : #ffffff;
}

h1{
    color: rgb(230, 228, 208);
   
}

#tableau{
    width: 85%;
    margin: 0;
}



#mass, #formul, #density, #name, #cas, #mm, #dens, #fbrut {
    text-align: center;
   
}