
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">DrawAmol</a>
        <img [src]="'/assets/images/logo2.png'" width="100">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['']">Accueil<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" [routerLink]="['/nom']">Nom</a>
            </li>
            <li><a class="nav-link" [routerLink]="['/formule']">Formule brute</a>
            </li>
            <li>
                <a class="nav-link" [routerLink]="['/cas']">N°CAS</a>
            </li>
            <li>
                  <a class="nav-link" href="#">Structure moléculaire</a></li>
                  <li>
                        <a class="nav-link"  [routerLink]="['/all']">Liste complète</a></li>
          </ul>
         
        </div>
      </nav>