
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Drawamol</a>
        <img [src]="'/assets/images/logo2.png'" width="100">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Accueil<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#">Nom</a>
            </li>
            <li><a class="nav-link" href="#">Formule brute</a>
            </li>
            <li>
                <a class="nav-link" href="#">N°CAS</a>
            </li>
            <li>
                  <a class="nav-link" href="#">Modèle moléculaire</a></li>
                  <li>
                        <a class="nav-link"  [routerLink]="['/all']">Liste complète</a></li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="nom, form brute, CAS" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>