<html>

<head>
</head>

<body  *ngIf="element">
    
    
    <!--<div>{{param}}</div>-->

  
      <h1 [innerHtml]=" (element.nom) +' ' + '('+(element.formule|chemical)+')'"></h1>
            
     <div>
            <div id="page">
     <div class="container">
            <div class="row">
              <div class="col">
                    <h3>Structure</h3>
                    <p id ="formule" ></p> 
                    <p><img [src] = "'/assets/images/'+ element.photo" width="150"></p> 
                   
                    <h3>Description</h3>
                     
                    <p>N°CAS : {{element.cas}}<br>      
                    Masse molaire : {{element.masseMolaire}} g.mol<sup>-1</sup><br>   
                    Etat physique : {{element.etatPhysique}}<br>    
                    Densité : {{element.densite}}<br>
                    Point de fusion : {{element.fusion}} °C<br>
                    Point d'ébullition: {{element.ebul}} °C<br>
                    Point éclair: {{element.eclair}} °C (en coupelle fermée)<br>
                    Point d'auto-inflammation : {{element.infla}} °C</p>
              </div>
              <div class="col">
                    <h3>Etiquette</h3>
                    <p><img [src] = "'/assets/images/'+ element.toxico" width="500"></p>
              </div>
            </div>
            </div>
            </div>
            </div>
    

</body>

</html>